behave==1.2.6
numpy==1.19.5
opencv-python==4.5.1.48
parse==1.19.0
parse-type==0.5.2
selenium==3.141.0
six==1.15.0
urllib3==1.26.4
imutils~=0.5.4
scikit-image~=0.17.2

tensorflow==2.4.1
Keras==2.4.3
h5py==2.10.0
opencv-python==4.5.1.48
scikit-image==0.17.2